<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.min.css' />
  </head>
  <body>
    <div id="webrtc-app" class="container"><%-webrtcHtml%></div>
  </body>
  <script type="text/javascript" charset="utf-8" src="/javascripts/browserifiedClient.min.js"></script>
</html>
