<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div id="error-message"></div>
      <div id="videos">
        <video id="localVideo" autoplay muted></video>
        <video id="remoteVideo" autoplay></video>
      </div>
      <div id="audios">
        <audio id="localAudio" autoplay muted></video>
        <audio id="remoteAudio" autoplay></video>
      </div>
      <div id="controls">
        <button id="audioCall">Audio Call</button>
        <button id="videoCall">Video Call</button>
        <button id="hangup" disabled>Hangup</button>
      </div>
    </div>
    <script src="/javascripts/webrtc/adapter.js"></script>
    <script src="/javascripts/rtc_helpers.js"></script>
    <script src="/javascripts/peer_connection.js"></script>
    <script src="/javascripts/call.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
