body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#videos {
  display: none;
}

#error-message {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  background-color: #e3e3e3;
  color: black;
}
